* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header .container {
    width: 100%;
    height: 3rem;

    background-color: #1565c0;

    color: white;
    font-size: 1.5rem;

    /* padding-top: 1rem; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header .container a {
    text-decoration: none;
    color: white;
}

.header .container a:nth-child(3), .header .container a:nth-child(4) {
    margin-left: -30rem;
}

/* NAVBAR */
.navbar .container {
    background-color: #0d59af;

    width: 100%;
    height: 8rem;

    color: white;
    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar .container a {
    text-decoration: none;
    color: #ffffff;

    /* margin-right: -7rem; */
}

.navbar .container a:first-child {
    font-size: 3rem;
    font-weight: bold;
}

.navbar .container a:last-child {
    margin-right: 19rem;
}

.navbar .container a:nth-child(2),
.navbar .container a:nth-child(3),
.navbar .container a:nth-child(4),
.navbar .container a:nth-child(5) {
    margin-right: -7rem;
}

.navbar .container a:nth-child(6) {
    margin-right: 20rem;
}

/* CAROUSEL */
.carousel .container img {
    width: 100%;
}

/* SAMPLES */
.samples {
    margin-top: 3rem;
    width: 100%;
}

.samples .container {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-left: 8rem;
    margin-right: 6rem;
}

.samples .container img {
    display: block;
}

.samples .container img:first-child {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
}

.samples .container img:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2;

    width: 38rem;
    height: 20rem;
}

.samples .container img:nth-child(3) {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;

    width: 18rem;
    height: 18rem;
}

.samples .container img:nth-child(4) {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;

    width: 18rem;
    height: 18rem;
}

.new-products {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.new-products .container {
    width: 100%;
    text-align: center;
}

.new-products .container h1 {
    font-size: 2.5rem;
    color: #1766c0;

    margin-bottom: 2rem;
}

.new-products .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 5rem;
    margin-right: 5rem;
}

.new-products .list .item {
    width: 25%;
    border: 0.2rem solid #dedede;

    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.new-products .list .item h3 {
    color: #1766c0;
    font-size: 1.5rem;

    margin: 1.25rem;
}

.new-products .list .item p:nth-child(3) {
    color: black;
    font-weight: bold;

    margin-bottom: 1.25rem;
}

.new-products .list .item p:nth-child(4) {
    margin-bottom: 1.25rem;
}

.new-products .list .item p:nth-child(4) span {
    text-decoration: line-through;
}

.new-products .list .item button {
    background-color: #ffffff;
    color: #1766c0;
    cursor: pointer;
    
    padding: 0.5rem 1.5rem;

    border: 0.2rem solid #f2a934;
}

.discounts .container {
    width: 100%;
    height: 35rem;

    background-image: url("../img/ban1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    color: #ffffff;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
}

.discounts .container h2 {
    font-size: 3rem;
    font-weight: 500;

    margin: 2rem;
}

.discounts .container h1 {
    font-size: 4rem;
    font-weight: 500;

    margin: 2rem;
}

.discounts .container button {
    cursor: pointer;

    color: #ffffff;
    font-weight: bold;

    background-color: #f2a934;

    width: 8rem;
    height: 2.5rem;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.new-arrivals {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.new-arrivals .container {
    width: 100%;
    text-align: center;
}

.new-arrivals .container h1 {
    font-size: 2.5rem;
    color: #1766c0;

    margin-bottom: 2rem;
}

.new-arrivals .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 5rem;
    margin-right: 5rem;
}

.new-arrivals .list .item {
    width: 25%;
    border: 0.2rem solid #dedede;

    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.new-arrivals .list .item h3 {
    color: #1766c0;
    font-size: 1.5rem;

    margin: 1.25rem;
}

.new-arrivals .list .item p:nth-child(3) {
    color: black;
    font-weight: bold;

    margin-bottom: 1.25rem;
}

.new-arrivals .list .item p:nth-child(4) {
    margin-bottom: 1.25rem;
}

.new-arrivals .list .item p:nth-child(4) span {
    text-decoration: line-through;
}

.new-arrivals .list .item button {
    background-color: #ffffff;
    color: #1766c0;
    cursor: pointer;
    
    padding: 0.5rem 1.5rem;

    border: 0.2rem solid #f2a934;
}